<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sveikata.productions.mabe.sveikasgyvenimas">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppThemeNoBar">



        <activity android:name=".LoginActivity" android:screenOrientation="portrait"
            />
        <activity android:name=".TabActivityLoader" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".StartingActivity" android:noHistory="true" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivateAccountActivity"></activity>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBGiAZ62W0aiWDFdoOot1MxKIjcdb81Ysk"></meta-data>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        android:name="android.support.multidex.MultiDexApplication">
    </application>

</manifest>